node_modules/
npm-debug.log
# output
dist
.DS_Store
*.log
package-lock.json
yarn.lock
.eslintcache
src/lib/client/generated/*.ts
snyk.apib
snyk.json
snyk-prepared.json
*.bak
test/fixtures/*.json
.dccache
